.WorkoutList {
    border: solid #333 3px;
    height: 100vh;
    display: grid;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 140px;
    padding: 1px;
    overflow: hidden;
}

.Title {
    font-size: 18px;
    text-align: center;
}

@media(max-width: 380px) {
    .Title {
        font-size: 15px
    }
}

@media(max-width: 800px) {
    .WorkoutList {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        grid-template-columns: 75px auto 80px;
        grid-template-rows: 1fr;
        height: 25vh;
        flex-direction: row;
    }
    .WorkoutListUL {
        grid-template-columns: repeat( auto-fit, minmax(140px, 1fr) );
    }    
}

.WorkoutListUL {
    grid-template-columns: repeat(auto, minmax(120px, 1fr) );
    gap: 5px;
    display: grid;
    max-height: 100%;
    padding: 2px;
    overflow-y: scroll;
}

.Button {
    justify-self: right;
    height: 33px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FlexButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}