.MainControls {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.SecondaryControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.Toggle {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(max-width: 390px) {
    .SecondaryControls {
        margin: 3px;
    }
}

.Buttons {
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.IconDesc {
    color: orangered;
    font-size: 0.8rem;
    margin: 5px;
    font-weight: 400;
}

.ToggleTitle {
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
    margin: auto;
}

.ExerciseName {
    margin: 0;
    text-align: center;
}

.Prev {
    margin: 0;
    text-align: left;
    color: orangered;
    width: 100%;
}

.Next {
    margin: 0;
    color: orangered;
    text-align: right;
    width: 100%;
}
